@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@400;700&display=swap');

:root {
    --accent:#29d459;
    --background: #191919;
    --background-darker: #141414;
}

body {
  background-image: url("images/background.png");
  background-color: var(--background);
  color: white;
  font-family: 'Rokkitt', serif;
  background-attachment: fixed;
  margin: 0px 0px 50px 0px;
}

h1 {
  font-weight: 700;
  font-size: 5em;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--accent);
}

h2 {
  font-weight: 400;
  font-size: 4em;
  text-align: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

p {
  text-align: center;
  width: 900px;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  color: lightgrey;
}

p>a{
  color: var(--accent);
  font-size: 2em;
  font-style: italic;
  margin-top: -10px;
}

p>a:hover{
  color: white;
}

div.spacing{
  height: 160px;
}

img {
  width: 900px;
}

div.header img {
  width: 32px;
}

.header {
  background-color: var(--background-darker); 
  padding: 0.75%;
  font-size: 1.5em;
  width: 98.5%;
  height: 32px;
}

.right {
 text-align: right;
 margin-right: 16px;
 margin-top: auto;
 margin-bottom: auto;
 display: block;
 float: right;
}

.left {
 display: block;
 float: left;
}

h2>a,div.right>a{
  text-decoration: none;
  color: white;
  font-style: normal;
}

h2>a:hover,div.right>a:hover{
  text-decoration: underline;
  color: #29d459;
}

.centred {
  display: block;
  margin: auto;
  height: 80%;
  width: 100%;
}

hr {
  width: 12em;
  color: var(--accent);
  background-color: var(--accent);
  height: 5px;
}

iframe {
  margin-left: auto;
  margin-right: auto;
}
