@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --dark:rgb(9, 56, 46);
    --darkish:rgb(13, 71, 49);
    --light:rgb(229, 243, 191);
}

body{
    background-color: var(--dark);
    color: lightyellow;
    padding: 10vh 20vh 0 20vh;
    font-family: "Arvo", serif;
}
strong{
    color: rgb(231, 255, 167);
    margin-top:5vh;
}
p,li{
    background-image: linear-gradient(to right, var(--darkish), var(--dark));
    padding-left: 0.2em;
}
p#workspace{
    margin-top:10vh;
}
body::selection{
    background-color: var(--light);
    color:var(--dark);
}
h1{
    color: yellow;
}
textarea{
    font-size:large;
    padding:1em;
    background-color: var(--light);
    border-color: lightyellow;
    border-style:solid;
    font-family: "Arvo", serif;
}
textarea::selection{
    background-color: yellow;
    color: black;
}
button{
    margin-top:2px;
    background-color: var(--light);
    border-color: lightyellow;
    border-style:solid;
    padding: 0.5em;
    font-family: "Arvo", serif;
    font-weight:400;
    font-size:large;
}
button:hover{
    border-color: var(--darkish);
}
button:active{
    border-color:yellow;
    color: yellow;
}

.ticker{
    margin-left: 0.6em;
}


/* The container */
.container {
  margin-left: 0.3em;
  margin-right: -0.3em;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.tick {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--light);
  border: solid lightyellow 2px;;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .tick {
  border-color: var(--darkish);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .tick {
  background-color: yellow;
}

/* Create the tick/indicator (hidden when not checked) */
.tick:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the tick when checked */
.container input:checked ~ .tick:after {
  display: block;
}

/* Style the tick/indicator */
.container .tick:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--dark);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}