@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --dark:rgb(9, 56, 46);
    --darkish:rgb(13, 71, 49);
    --light:rgb(229, 243, 191);
    --accent:yellow;
    --border:lightyellow;
    --llightish:rgb(227, 231, 231);
    --llight:white;
    --ldark:rgb(1,1,1);
    --ldarkish:rgb(47, 49, 51);
    --laccent:rgb(0, 54, 202);
    --lborder:rgb(158, 216, 255);
    --ddark:rgb(33, 38, 39);
    --ddarkish:rgb(47, 57, 59);
    --daccent:rgb(6, 182, 153);
    --dborder:rgb(15, 74, 78);
    --dlight:rgb(191, 243, 221);
}

body{
    background-color: var(--dark);
    color: var(--border);
    padding: 10vh 20vh 0 20vh;
    font-family: "Arvo", serif;
}
body.light{
    background-color: var(--llightish);
    color:var(--ldark);
}
body.dark{
    background-color: var(--ddark);
    color:var(--dlight);
}
strong{
    color: var(--light);
    margin-top:5vh;
}
.light strong{
    color: var(--ldarkish);
}
.dark strong{
    color: var(--dlight);
}
p,li{
    background-image: linear-gradient(to right, var(--darkish), rgba(0,0,0,0));
    padding-left: 0.2em;
}
.light p, .light li{
    background-image: linear-gradient(to right, var(--llight), rgba(0,0,0,0));
}
.dark p, .dark li{
    background-image: linear-gradient(to right, var(--ddarkish), rgba(0,0,0,0));
}
li {
    line-height: 1.5em;
}
p#workspace{
    margin-top:10vh;
}
body::selection{
    background-color: var(--light);
    color:var(--dark);
}
h1, h3{
    color: var(--accent);
}
.light h1, .light h3{
    color: var(--laccent);
}
.dark h1, .dark h3{
    color: var(--daccent);
}
blockquote{
    max-width: 600px;
    border-width:1px;
}
textarea, blockquote{
    font-size:large;
    padding:1em;
    background-color: var(--light);
    border-color: var(--border);
    border-style:solid;
    font-family: "Arvo", serif;
    line-height: 1.5em;
    color: var(--ldark);
}
.light textarea, .light blockquote{
    background-color: var(--llight);
    border-color: var(--lborder);    
}
.dark textarea, .dark blockquote{
    background-color: var(--ddarkish);
    border-color: var(--dborder);   
    color: var(--dlight); 
}
textarea::selection{
    background-color: var(--accent);
    color: var(--ldark);
}
.light textarea::selection{
    background-color: var(--laccent);
    color: var(--llight);
}
.dark textarea::selection{
    background-color: var(--daccent);
    color: var(--ddark);
}
button{
    margin-top:2px;
    background-color: var(--light);
    border-color: var(--border);
    border-style:solid;
    padding: 0.5em;
    font-family: "Arvo", serif;
    font-weight:400;
    font-size:large;
}
button a{
    color:black;
    text-decoration: none;
}
.dark button a{
    color: var(--dlight);
}
.light button{
    background-color: var(--llight);
    border-color: var(--lborder);
}
.dark button{
    background-color: var(--ddarkish);
    border-color: var(--dborder);
    color: var(--dlight);
}
button:hover{
    border-color: var(--darkish);
}
.light button:hover{
    border-color: var(--laccent);
}
.dark button:hover{
    border-color: var(--ddarkish);
}
button:active{
    border-color:var(--accent);
    color: var(--accent);
}
.light button:active{
    border-color:var(--laccent);
    background-color:var(--laccent);
    color: var(--llight);
}
.light button:active{
    border-color:var(--daccent);
    color: var(--daccent);
}
.ticker{
    margin-left: 0.6em;
}
div.checker{
    display:inline;
}

div#buttons{
    margin-bottom:2em;
}


/* The container */
.container {
  margin-left: 0.3em;
  margin-right: -0.3em;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.tick {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--light);
  border: solid var(--border) 2px;;
}
.light .tick{
    background-color: var(--llight);
    border-color: var(--lborder);
}
.dark .tick{
    background-color: var(--ddarkish);
    border-color: var(--dborder);
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .tick {
  border-color: var(--darkish);
}
.light .container:hover input ~ .tick {
  border-color: var(--laccent);
}
.dark .container:hover input ~ .tick {
  border-color: var(--ddarkish);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .tick {
  background-color: var(--accent);
}
.light .container input:checked ~ .tick {
  background-color: var(--laccent);
}
.dark .container input:checked ~ .tick {
  background-color: var(--daccent);
}

/* Create the tick/indicator (hidden when not checked) */
.tick:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the tick when checked */
.container input:checked ~ .tick:after {
  display: block;
}

/* Style the tick/indicator */
.container .tick:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--dark);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.light .container .tick:after {
    border-color: var(--llight);
}
.dark .container .tick:after {
    border-color: var(--ddark);
}

@media only screen and (max-width: 480px) {
    body{
        padding: 5vw 5vw 0 5vw;
        font-size: small;
        max-width:90vw;
        margin:0;
    }
    button{
        font-size: small;
    }
    textarea{
        max-width:84vw;
        padding:3vw;
    }
    div, h1{
        max-width:90vw;
    }
    html{
        max-width:100%;
        overflow-x: hidden;
    }
    label{
        font-size:medium;
    }
    .ticker{
        margin-left: 0em;
    }
    div.checker{
        display:block;
        margin-bottom:2.5em;
    }
    div.checker label:nth-child(2){
        display:flex;
        float:right;
    }
    div#buttons{
        display:flex;
        justify-content: space-between;
    }
    label.container{
        margin-left: 0px;
    }
}

