@import url('https://fonts.googleapis.com/css2?family=Akt:wght@100..900&family=Alfa+Slab+One&display=swap');

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px;
    grid-template-rows: 25vh 25vh 25vh 25vh;
}

.qgrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6.25vh 12.5vh repeat(13, 6.25vh);
    margin: 0px;
}

.qgrid button, .qgrid p, .qgrid div{
    grid-column-start: 1;
    grid-column-end: 3;
}

button.tension{
    grid-column: span 1;
    color: red;
}

body{
    margin:0;
    background-color: rgb(44, 61, 83);
    font-family: "Akt", sans-serif;
    font-optical-sizing: auto;
    color: white;
}

div{
    padding: 5vw 5vw 5vw 5vw
}

p{
    padding: 0 5vw 0 5vw
}

em{
    color: rgb(230, 243, 242);
}

h1 {
    font-size: 2vh;
    text-align: center;
    padding: 10vh 2vh 10vh 2vh;
    margin: 0.7vh;
    border: 0.3vh solid rgb(230, 243, 242);
    font-family: "Alfa Slab One", serif;
}

button {
    font-family: "Akt", sans-serif;
    color: white;
    background-color:rgb(44, 61, 83);
    border: 0.3vh solid rgb(137, 178, 201);
    margin: 2px;
}

a {
    color: white;
}

a:visited {
    color: rgb(137, 178, 201);
}

.back a:visited{
    color: rgb(137, 178, 201);
}
